name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
    # 1. Download code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Log in to Docker Hub using the secrets you created
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build the image AND push it to Docker Hub
    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        # Replace 'your-username' below with your actual Docker Hub username!
        tags: ${{ secrets.DOCKER_USERNAME }}/linux-ops:latest